.mainVideo{
    margin-top: 5%;
}
.videoPlayer{

    width: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);

    /* display: flex;
    justify-content: center; */
}
.reactPlayer{
    width: 100%;
    position: absolute;
}
.circles{
    display: flex;
    /* justify-content: center;
    justify-content: space-around; */

    margin-left: 11rem;
    white-space: nowrap;
}

.circle1{
    margin-top: 20rem;
    z-index: 10000;
    width: 300px;
    overflow-x: auto;
    overflow-y: hidden;
}

.circle1::-webkit-scrollbar {
    display: none;
}

.basicCircle{
    background-color:rgb(94, 94, 94);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    margin:15px;
}

.thumbnailImage {
    border: 0.5px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }