.mainVideo{
    margin-top: 5%;
    position: relative;

}
.videoPlayer{
    position: relative;
    margin: 0 auto;


}
.reactPlayer{
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.circles{
    display: flex;
    white-space: nowrap;
    margin-top: -40px;
}

.circle1{
    margin: 0 auto;
    z-index: 1000;
    width: 200px;
    overflow-x: auto;
    overflow-y: hidden;
}

.circle1::-webkit-scrollbar {
    display: none;
}

.basicCircle{
    background-color:rgb(94, 94, 94);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    margin:15px;
}

.thumbnailImage {
    border: 0.5px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }
  @media screen and (max-width:770px){
    .videoPlayer{
        width: 100%;
    }
  }
  @media screen and (max-width:430px){
    .videoPlayer{
        width: 100%;
    }
    .reactPlayer{
        width: 425px!important;
        height: 240px !important;
    }
  }